.login-container {
	height: 100%;
}

.login-left {
	background-color: #f37529;
}

.login-right.mobile {
	background-color: #f37529;
}

.login-title {
	text-align: center;
}

.login-title.mobile {
	color: white;
}

.login-form.mobile {
	background-color: white;
	padding: 25px;
	border-radius: 6px;
}

.login-form .ant-form-item-label > label {
	font-weight: 500;
}

.login-form.mobile .ant-form-item-label > label {
	height: 100% !important;
}

.login-btn {
	padding-top: 14px;
	margin-bottom: 14px;
}

.login-btn > .ant-row {
	justify-content: center;
}
