.container-all {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
}

@media (min-width: 476px) {
	.container-all {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container-all {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container-all {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container-all {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container-all {
		max-width: 1340px;
	}
}
