.register_workspace {
	color: red;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.anticon-user {
	color: red;
}

.submit-button {
	text-align: center;
}

@media only screen and (max-width: 576) {
	.submit-button {
		width: 30%;
	}
}
