.main-container .full-btn .btn-submit {
	margin-top: 40px;
	margin-left: 45px;
}

.main-container .full-form .text-select {
	margin-right: 30px;
}

.main-container .full-form {
	max-width: 800px;
}

.main-container .full-btn .btn-cancel {
	color: #0f0f0f;
	background-color: #fff;
}

@media (max-width: 907px) {
	.main-container .full-form .text-select {
		margin-right: 0px;
	}
	.main-container .full-btn .btn-submit {
		margin-left: 0px;
		margin-top: 0px;
	}
}
