.isLoading {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 25px;
}

.container-detail {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	display: inline-block;
}
