.timestampInitial {
	text-align: initial;
}
.updateCampaign1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fontWeight {
	font-weight: bold;
}

.quill-editor {
	font-weight: normal;
}
