.Cv-container {
	max-height: 100%;
	overflow: auto;
}

.wrap-detail {
	text-align: center;
}

.text-cv {
	width: 300px;
	height: 30px;
	border: 0.5px solid black;
}

.iframe-cv-detail {
	width: 100%;
	min-height: 570px;
}

.title-cv-detail {
	margin-top: 0px !important;
	text-align: center;
}
