.layout-container {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.private-content {
	position: relative;
	height: inherit;
	margin: 20px 16px 0;
	overflow: auto;
}

.private-content.mobile {
	margin: 14px 10px 0;
}
