.btn-wrap-campaign {
	margin-bottom: 1%;
	background-color: rgb(211, 164, 255);
}

.users-workspace {
	margin-bottom: 30px;
}

.workspace-wrap-text {
	text-align: center;
}

.workspace-card {
	height: 100% !important;
}
